



<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Yinka Enoch Adedokun">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Login Page</title>
</head>
<body>
	<!-- Main Content -->
	<div class="container-fluid">
		<div class="row main-content bg-success text-center">
			<div class="col-md-4 text-center company__info">
				<span class="company__logo"><h2><span class="fa fa-android"></span></h2></span>
				<h4 class="company_title">Xloxlo</h4>
			</div>
			<div class="col-md-8 col-xs-12 col-sm-12 login_form ">
				<div class="container-fluid">
					<div class="row">
						<h2>Promjeni lozinku</h2>
					</div>
					<div class="row">
						<form control="" class="form-group">
							
							<div class="row">
								<!-- <span class="fa fa-lock"></span> -->
								<input [(ngModel)]="staralozinka" [type]="show ? 'text' : 'password'"  type="password" name="password" class="formpass__input" placeholder="Unesi staru lozinku">
								<a class="fa fa-eye showhide"(click)="password()"></a>

							</div>
                            <div class="row">
								<!-- <span class="fa fa-lock"></span> -->
								<input [(ngModel)]="novalozinka1" [type]="show ? 'text' : 'password'"  type="password" name="password" class="formpass__input" placeholder="Unesi novu lozinku">
								<a class="fa fa-eye showhide"(click)="password()"></a>

							</div>
                            <div class="row">
								<!-- <span class="fa fa-lock"></span> -->
								<input [(ngModel)]="novalozinka2" [type]="show ? 'text' : 'password'"  type="password" name="password" class="formpass__input" placeholder="Unesi novu lozinku">
								<a class="fa fa-eye showhide"(click)="password()"></a>

							</div>
							<div class="row">
							
                                <button (click)="btnPromjenilozinku()" value="Prijava" class="btn">Promjeni lozinku</button>

							</div>
						</form>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	

	
</body>
